body{
    background-color: lightskyblue;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    border: 3px solid;
    background-color: dodgerblue;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

td{
    border: 3px solid;
    background-color: deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80px;
}

img{
    height: 60px;
    width: 60px;
}
