body{
    background-color: lightskyblue;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
}

table{
    border: 3px solid;
    background-color: dodgerblue;
    margin-left: 40%;
    margin-top: 2%;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

td{
    border: 3px solid;
    background-color: deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80px;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 19.5%;
}

ol{
    place-items: center;
}

ul{
    place-items: center;
}